<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Jewelry Gallery - {% block title %}{% endblock %}</title>
        
        {% load static %}

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />

        <script
            src="https://kit.fontawesome.com/40af3bd3f4.js"
            crossorigin="anonymous"
        ></script>

        <link rel="stylesheet" href="{% static 'gallery/site.css' %}">
    </head>
    <body>        
        <!-- NavBar Start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'gallery_home' %}">
                <img
                    class="img-fluid"
                    src="{% static 'gallery/logo.png' %}"
                    width="90px"
                    alt="logo"
                />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="font-size: 25px"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a
                        class="nav-link font-weight-bold"
                        href="{% url 'price_entry' %}"
                        >Price Entry</a>
                    </li>
                    <li class="nav-item">
                        <a
                        class="nav-link font-weight-bold"
                        href="{% url 'add_product' %}"
                        >Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a
                        class="nav-link font-weight-bold"
                        href="{% url 'product_list' %}"
                        >Product List</a>
                    </li>                    
                    <li class="nav-item">
                        <a
                        class="nav-link font-weight-bold"
                        href="{% url 'product_gallery' %}"
                        >Product Gallery</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0"
                            action="{% url 'detail_get' %}"
                            method="get">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        name="pid"
                        placeholder="Barcode"
                        required
                    />
                    <button class="btn btn-light my-2 my-sm-0" type="submit">
                        <span style="font-size: 25px"
                        ><i class="fas fa-search"></i
                        ></span>
                    </button>
                </form>
            </div>
        </nav>
        <!-- NavBar End -->

        <!-- Content Space Start -->
        <div class="container-fluid p-3 text-center" id="content">
            {% block content%} {% endblock %}
        </div>
        <!-- Content Space End -->
        
        <!-- Footer Start -->
        <div class="footer border-top text-center pt-3" id="footer">
            <span style="font-size: 20px"><i class="far fa-copyright"></i></span>
        </div>
        <!-- Footer End -->
        
        <!-- Scripts -->
        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
        ></script>
        <script>
            function validateForm() {
                // input fields
                gold_val = $("#gold_price").val();
                platinum_val = $("#platinum_price").val();
                silver_val = $("#silver_price").val();
        
                if (gold_val == '' && platinum_val == '' && silver_val == '') {
                  q = $("#notvalid");
                  q.prop('style', "display: block; color:DarkRed;");
                  q.html("(Enter at least one price)");
                  return false;
                }
                else {
                    return true;
                }
            }
            // action
            $( document ).ready(function() {
              $('form[name="prices_form"]').submit(function( event ) {
                if ( validateForm() ) {return;}
                
                event.preventDefault();
              });
            });            
        </script>
    </body>
</html>