{% extends 'gallery/base.html' %}
{% block title %} Home {%endblock%}
{% block content%}
{% load static %}
{% if price_list != None %}
    <h5>Latest Recorded Prices: </h5>
    <ol class="list-group list-group-flush p-2 ">
    {% for p in price_list %}
        <li class="list-group-item bg-light">
            <div class="row">
            <div class="col" align="right">{{p.sort}} ({{p.basis}})</div>
            <div class="col" align="center">${{p.amount}}</div>
            <div class="col" align="left">{{p.datetime}}</div>
            </div>
        </li>
    {%endfor%}
    </ol>
{% else %}
{% load static %}
    <div class="text-center">
    <img
        class="img-fluid"
        src="{% static 'gallery/Nothing.jpg' %}"
        alt="Responsive image"
    />
    </div>
{% endif %}
{%endblock%}