{% extends 'gallery/base.html' %}
{% block title %} Price Entry {%endblock%}
{% block content%}
<h6> #TODO (Use the <a href="{% url 'admin:index' %}">admin page</a> for now)</h6>
    <input class="form-control" type="text" placeholder="Gold input" readonly>
    <input class="form-control" type="text" placeholder="Platinum input" readonly>
    <input class="form-control" type="text" placeholder="Silver input" readonly>
<hr />
{% if price_list != None %}
    <h6>Latest Recorded Prices: </h6>
    <ol class="list-group list-group-flush p-2 ">
    {% for p in price_list %}
        <li class="list-group-item bg-light">
            <div class="row">
            <div class="col" align="right">{{p.sort}} ({{p.basis}})</div>
            <div class="col" align="center">${{p.amount}}</div>
            <div class="col" align="left">{{p.datetime}}</div>
            </div>
        </li>
    {%endfor%}
    </ol>
{% else %}
{% load static %}
    <div class="text-center">
    <img
        class="img-fluid"
        src="{% static 'gallery/Nothing.jpg' %}"
        alt="Responsive image"
    />
    </div>
{% endif %}
{%endblock%}